<div ng-controller="homeCtrl">
<section>
        <div class="container">
          <div class="row">
            <div class="col-xs-12">
                <div id="myCarousel" class="carousel slide" data-ride="carousel">
                    <!-- Indicators -->
                    <!--<ol class="carousel-indicators">
                      <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                      <li data-target="#myCarousel" data-slide-to="1"></li>
                      <li data-target="#myCarousel" data-slide-to="2"></li>
                    </ol>-->
                  
                    <!-- Wrapper for slides -->
                    <div class="carousel-inner">
                      <div class="item active">
                        <img src="images/carousel-1.png" alt="Make up">
                      </div>
                    </div>
            </div>
          </div>
        </div>
      </section>
      <section>
        <div class="container">
          <div class="row">
            <div class="col-xs-12 text-center">
                <h2>Try new expressive look and feminine touch <br>
                  with extension of <em>lashes, modelled eyebrows</em> <br>
                   and perfect <em>makeup</em>. 
                 </h2>
            </div>
          </div>
          <div class="row">
            <div class="col-xs-12 text-center">
              <a href="#/portfolio" class="btn btn-arrow">
                <span class="text">See Our Portfolio</span>
                <span class="arrow-wrapper">
                  <span class="arrow">&gt;</span>
                </span>
              </a>
            </div>
          </div>
        </div>
      </section>
      <section id="instagram">
          <div class="row">
              <div class="col-xs-12 text-center">
                <div class="instagram-wrapper">
                  <slider-insta-feed></slider-insta-feed>
                  <div class="instagram-box">
                    <div class="instagram-cta">
                      <span class="instagram-title">Mary's Instagram</span><br/>
                      <b>Follow</b> <span class="instagram-address"><a href="https://www.instagram.com/marys_tricks/">@marystricks</a></span>
                    </div>
                  </div>
                </div>
              </div>
          </div>
      </section>
      <section id="hp-bottom">
        <div class="container">
          <div class="row">
              <div class="col-xs-12 col-md-6">
                <div class="hp-bottom-left">
                  <div class="row">
                    <div class="col-md-12">
                      <div class="icon-title">
                        <img class="hp-bottom-icons" src="images/eye.jpg"/> 
                       <p class="icon-text">Brows</p>
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-12">
                        <p>To finesse you look we will model your eyebrows to perfectly fit your features.
                        <br class="hide991"/><br class="hide991"/><br class="hide1199"/></p>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-xs-12">
                      <ul class="hp-list">
                        <a ng-click="goToGallery('brows')">
                          <li>Brows modelling</li>
                        </a>
                        <a ng-click="goToGallery('brows')">
                            <li>Brows modelling and professional dying</li>
                          </a>
                          <a ng-click="goToGallery('brows')">
                              <li>Brows modelling and dying with henna</li>
                            </a>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-xs-12 col-md-6">
                  <div class="hp-bottom-left">
                    <div class="row">
                      <div class="col-md-12">
                        <div class="icon-title">
                          <img class="hp-bottom-icons" src="images/eyes2.png"/> 
                         <p class="icon-text">Lash Extension</p>
                        </div>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-md-12">
                          <p>Visit Mary to create the look of ‘fine and lush’ eyelashes. 
                          <br class="hide991"/><br class="hide991"/><br class="hide1199"/></p>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-xs-12">
                        <ul class="hp-list">
                          <a ng-click="goToGallery('brows')">
                            <li>Lashes extension ‘1 by 1’
                                
                                </li>
                          </a>
                          <a ng-click="goToGallery('brows')">
                              <li>Lashes extension 2D</li>
                            </a>
                            <a ng-click="goToGallery('brows')">
                                <li>Lashes extension 3D</li>
                              </a>
                              <a ng-click="goToGallery('brows')">
                                  <li>Lashes extension XD</li>
                                </a>
                                <a ng-click="goToGallery('brows')">
                                    <li>Lashes extension ‘Russian Volume’</li>
                                  </a>
                        </ul>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-xs-12 col-md-6">
                    <div class="hp-bottom-left">
                      <div class="row">
                        <div class="col-md-12">
                          <div class="icon-title">
                            <img class="hp-bottom-icons" src="images/eyes2.png"/> 
                           <p class="icon-text">Lash Botox</p>
                          </div>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-md-12">
                            <p>Perfect eyelashes treatment for stunning natural look.
                            <br class="hide991"/><br class="hide991"/><br class="hide1199"/></p>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-xs-12">
                          <ul class="hp-list">
                            <li><a ng-click="goToGallery('lashbotox')">Lash lifting treatment with LashBotox© Products</a></li>
                          </ul>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-xs-12 col-md-6">
                      <div class="hp-bottom-left">
                        <div class="row">
                          <div class="col-md-12">
                            <div class="icon-title">
                              <img class="hp-bottom-icons" src="images/lips.jpg"/> 
                             <p class="icon-text">Makeup</p>
                            </div>
                          </div>
                        </div>
                        <div class="row">
                          <div class="col-md-12">
                              <p>Come visit Mary for a makeup session that will highlight your beauty to the most.
                              <br class="hide991"/><br class="hide991"/><br class="hide1199"/></p>
                          </div>
                        </div>
                        <div class="row">
                          <div class="col-xs-12">
                            <ul class="hp-list">
                              <li><a ng-click="goToGallery('makeup')">Nude makeup</a></li>
                              <li><a ng-click="goToGallery('makeup')">Get me fresh makeup</a></li>
                              <li><a ng-click="goToGallery('makeup')">Natural eye makeup and super sexy lips</a></li>
                              <li><a ng-click="goToGallery('makeup')">Cat eye makeup</a></li>
                              <li><a ng-click="goToGallery('makeup')">Give me a Kardashian look makeup</a></li>
                              <li><a ng-click="goToGallery('makeup')">Crazy smokey eyes makeup</a></li>
                              <li><a ng-click="goToGallery('makeup')">Light smokey eyes makeup</a></li>
                            </ul>
                          </div>
                        </div>
                      </div>
                    </div>
          </div>
          <div class="row">
            <div class="col-xs-12 text-center">
              <a href="#/contact" class="btn btn-arrow btn-arrow--wborder">
                <span class="text">Book an Appoitment</span>
                <span class="arrow-wrapper">
                  <span class="arrow">&gt;</span>
                </span>
              </a>
            </div>
          </div>
        </div>
      </section>
    </div>