<div class="container" ng-controller="galleryCtrl">
    <div class="row">
        <div class="col-xs-12">
            <a ng-click="getAll()">Show all pictures</a>
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-xs-12 text-center loader-image" ng-show="options.loading">
            <img src="images/logo.png" class="logo" alt="">
        </div>
        <div class="col-xs-12 col-sm-6" ng-show="!options.loading">
            <div class="preview-wrapper">
                <img ng-src="{{selectedImage.images.standard_resolution.url}}" class="img-gallery-preview" />
            </div>
        </div> 
        <div class="col-xs-12 col-sm-6" ng-show="!options.loading">
            <div class="row">
                <div class="col-xs-12 col-sm-6" ng-repeat="pic in picturesUpFirst track by $index">
                    <img ng-src="{{pic.images.standard_resolution.url}}" class="img-gallery-thumbnail" ng-click="changePreview(pic)"/>
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-sm-6" ng-show="!options.loading">
            <div class="row">
                <div class="col-xs-12 col-sm-6" ng-repeat="pic in picturesUpSecond track by $index">
                    <img ng-src="{{pic.images.standard_resolution.url}}" class="img-gallery-thumbnail" ng-click="changePreview(pic)"/>
                </div>
            </div>
            </div>
    </div>
    <div class="row" ng-show="!options.loading">
        <div class="col-xs-12 col-sm-3" ng-repeat="pic in picturesDown track by $index">
            <img ng-src="{{pic.images.standard_resolution.url}}" class="img-gallery-thumbnail" ng-click="changePreview(pic)"/>
        </div>
    </div>
    <div class="row" ng-show="!options.loading">
        <div class="col-xs-12">
            <div class="gallery-controls">
                <button class="btn btn-gallery prev pull-left" ng-click="prevPage()" ng-show="options.activePage > 1">&lt;</button>
                <button class="btn btn-gallery next pull-right" ng-click="nextPage()"  ng-show="options.activePage < options.pages">&gt;</button>
                <p class="text-center">{{options.activePage}}/{{options.pages}}</p>
            </div>  
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-xs-12 text-center">
            <a href="#/contact" class="btn btn-arrow btn-arrow--wborder">
            <span class="text">Book an Appoitment</span>
            <span class="arrow-wrapper">
                <span class="arrow">&gt;</span>
            </span>
            </a>
        </div>
    </div>
</div>