/* Jquery UI Datepicker styles */

.ui-datepicker-calendar {
  padding: 20px !important;
  width: 100%;
  & thead tr th {
    padding: 4px 6px;
    background-color: #e1e1e1;
    border-right: 2px solid #fff;
    border-bottom: 2px solid #fff;
    font-family: "Apercu Medium", sans-serif;
    font-size: 14px;
  }

  & thead tr th:last-child {
    border-right: none;
  }

  & tbody tr td {
    padding: 4px 6px;
    background-color: #ffece1;
    border-right: 2px solid #fff;
    border-bottom: 2px solid #fff;
    font-family: "Apercu Medium", sans-serif;
    font-size: 14px;

    & a {
      font-family: "Apercu Medium", sans-serif;
      font-size: 14px;
    }
  }

  & tbody tr td:last-child {
    border-right: none;
  }
  
  & tbody tr td.ui-state-disabled {
    background-color: #cbcbcb;
  }

  & tbody tr td.ui-datepicker-current-day {
    background: #fbb09a;
  }

  .ui-widget-header {
    display: none !important;
    visibility: hidden;
  }

}

.ui-datepicker-prev .ui-icon {
   font-family: "Apercu-Medium", sans-serif;
   font-size: 30px;
   position: absolute;
   left: 25px;
   top: -10px;
   color: #fbb09a;
 }

.ui-datepicker-next .ui-icon {
  font-family: "Apercu-Medium", sans-serif;
  font-size: 30px;
  position: absolute;
  right: 28px;
  top: -10px;
  color: #fbb09a;
}

.ui-datepicker-next:hover,
.ui-datepicker-prev:hover {
  cursor: pointer;
}

.ui-datepicker-prev.ui-state-disabled span,
.ui-datepicker-next.ui-state-disabled span {
  color: #cbcbcb;
}

.ui-datepicker-title {
  font-family: "Apercu-Medium", sans-serif;
  font-size: 16px;
  margin-bottom: 10px;
}

.form--time-picker {
  list-style-type: none;
  padding: 30px 0;

  & li:hover {
    cursor: pointer;
  }

  & li.active:before {
    background-color: #fbb09a;
  }

  & li {
    list-style-type: none;
    width: 50%;
    float: left;
    position: relative;
    padding-left: 35px;
    text-align: left;
    margin-bottom: 6px;
    font-family: "Apercu-Medium", sans-serif;
    font-size: 12px;
    padding-top: 3px;
  }

  & li:before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 30px;
    height: 23px;
    background: #ffece1;
  }
}