@font-face {
    font-family: "Apercu-Medium";
    src:    url('~/fonts/Apercu/Apercu-Medium.otf') format('opentype');
}

@font-face {
    font-family: "Apercu";
    src:    url('~/fonts/Apercu/Apercu.otf') format('opentype');
}

@font-face {
    font-family: "Miller-Display";
    src:    url('~/fonts/Miller/Miller-Display.otf') format('opentype');
}

@font-face {
    font-family: "Miller-DisplayItalic";
    src:    url('~/fonts/Miller/Miller-DisplayItalic.otf') format('opentype');
}